<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='estilo.css') }}" rel="stylesheet" type="text/css" >
    <title>Flagle en Español</title>
</head>
<body>
    <h1>Flagle En Español</h1>
    <div>
        <form action="/submit" method="post">
            <div class="container">
            <img src="{{ url_for('static',filename='bandera.jpg') }}" alt="Bandera 1" height="250">
            <table>
                <tr>
                    <td>
                        <input list="paises" name="nombre_bandera" id="lista" placeholder="Escribe un país">
                        <datalist id="paises">
                          {% for pais in paises %}
                          <option value="{{ pais }}">
                          {% endfor %}
                        </datalist>
                    </td>
                    <td><input type="submit" value="Adivinar"></td>
                </tr>
            </table>
                {% if message %}
                    <div class="error-message">
                    <img src="{{ url_for('static',filename='warning.png') }}" alt="Warning" height="50">
                    {{ message }}
                    </div>
                {% endif %}
            </div>
            <div class="slider-container">
        <p >Dificultad</p>
        <input type="range" min="1" max="100" value="{{ tolerancia }}" class="slider" id="mySlider" name="tolerancia">
     </div>
            {% if lasttry %}
            <div class="last-try">
                <p>Último Intento:</p>
                <img src="{{lasttry}}" alt="Último-intento" height="244">
            </div>
            {% endif %}
        </form>
    </div>

</body>
</html>
