<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='estilo.css') }}" rel="stylesheet" type="text/css" >
    <title>Flagle en Español</title>
</head>
<body>

    <div class="container-header">
        <h1>Flagle En Español</h1>
        <form action="/restart" method="get" style="display: inline;">
        <input class="r" type="submit" value="Volver a jugar">
        </form>

    </div>

    <div class="container">
    <img src="{{ url_for('static',filename='bandera.jpg') }}" alt="Bandera 1" height="250">
        {% if congrats %}
            <div class="congrats-message">
            <img src="{{ url_for('static',filename='check.png') }}" alt="Check" height="50">
            {{ congrats }}
            </div>
        {% endif %}
    </div>


</body>
</html>
